 .textStyle {
    opacity : 0.7;
	color : white;
	height : 150px;
	overflow : hidden;
	font-family : serif;
	font-size : 1.3em;
}

.footerStyle {
    padding-bottom : 20px; 
    padding-top : 10px; 
    background-color : black
}

.testimonials {
    opacity : 0.7;
	color : white;
	height : 150px;
	overflow : hidden;
	font-family : serif;
    font-size : 1.2em;
    font-style : italic
}

.copyright {
    color : white;
    font-size : 1.4em;
    text-align : center;
    font-family : 'serif';
}
